/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: Poppins,sans-serif;
}

.btn-link-white {
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.btn-link-white:hover {
  color: white;
  text-decoration: underline;
}

.btn-link-white:focus, .btn-link-white.focus {
  text-decoration: underline;
}

.btn-link-white:disabled, .btn-link-white.disabled {
  color: #CCC;
  pointer-events: none;
}

.btn-link-danger {
  font-weight: 400;
  color: #f51344;
  text-decoration: none;
}

.btn-link-danger:hover {
  color: #cf113a;
  text-decoration: underline;
}

.btn-link-danger:focus, .btn-link-danger.focus {
  text-decoration: underline;
}

.btn-link-danger:disabled, .btn-link-danger.disabled {
  color: #cf113a;
  pointer-events: none;
}

.display-5 {
    font-size:1.5rem !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
footer a {
    font-size:70%;
}
footer h6 {
    color:white;
    font-weight:bold;
}
label{
    font-weight:bold;
}





.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
    stroke: #f51344;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
