/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: Poppins,sans-serif;
}

.btn-link-white {
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.btn-link-white:hover {
  color: white;
  text-decoration: underline;
}

.btn-link-white:focus, .btn-link-white.focus {
  text-decoration: underline;
}

.btn-link-white:disabled, .btn-link-white.disabled {
  color: #CCC;
  pointer-events: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
footer a {
    font-size:70%;
}
footer h6 {
    color:white;
    font-weight:bold;
}